/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-family: var(--main-font), sans-serif;
  font-variation-settings: var(--normal-font-weight);
  font-size: var(--main-font-size);
  background-image: var(--body-bg-gradient);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  color: var(--font-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: var(--body-padding);
}

.header {
  width: var(--block-width);
  min-height: 368px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: var(--header-gap);
  font-family: var(--accent-font), sans-serif;
  font-weight: var(--header-font-weight);
  background-color: var(--block-bg-color);
  border: var(--block-border);
  margin: var(--header-margin);
}

.logo-title {
  font-size: var(--logo-font-size);
}

.subtitle {
  font-size: var(--subtitle-size);
  text-transform: uppercase;
}

.cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--card-gap);
}

.section {
  width: var(--block-width);
  font-family: var(--main-font), sans-serif;
  font-weight: var(--normal-font-weight);
  background-color: var(--block-bg-color);
  border: var(--block-border);
}

.section__title {
  font-size: var(--main-font-size);
  padding: 4px 10px;
}

.section__image {
  display: block;
  max-height: 696px;
  aspect-ratio: 1 / 1;
  width: clamp(320px, 100%, 700px);
  object-fit: cover;
  object-position: center;
}

.image-wow {
  filter: contrast(1.1);
}

.section__content {
  display: flex;
  flex-direction: column;
  gap: 25px;
  padding: 25px;
}

.section__media {
  position: relative;
}

.label {
  position: absolute;
  top: 25px;
  right: 25px;
  font-family: var(--accent-font), sans-serif;
  font-size: var(--label-size);
  color: var(--label-color);
  mix-blend-mode: hard-light;
  text-shadow:
    -1px 0 var(--label-stroke), 
    0 1px var(--label-stroke), 
    1px 0 var(--label-stroke), 
    0 -1px var(--label-stroke);
}

@supports((text-stroke: 1px var(--label-stroke)) or (-webkit-text-stroke: 1px var(--label-stroke))) {
  .label {
    -webkit-text-stroke: 1px var(--label-stroke);
    text-stroke: 1px var(--label-stroke);
    text-shadow: none;
  }
} 

.button {
  font-family: var(--accent-font), sans-serif;
  font-size: var(--button-size);
  font-weight: var(--header-font-wweight);
  border: var(--button-border);
  transition: box-shadow 0.3s ease;
  position: relative;
  overflow: hidden;
  z-index: 1;
}

.button::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--accent-color, #000);
  transform: translateX(-100%);
  transition: transform 0.5s ease-in-out;
  z-index: 1;

}

.button:focus {
  outline: none;
}

.button:focus-visible {
  box-shadow: 2px 2px 0 var(--accent-color);
}

.button:hover::before {
  transform: translateX(0);
}

.card__buttons {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 5px;
}

.card__icon-button {
  display: flex;
  align-items: center;
  background-color: var(--button-bg-color);
  border: 2px solid transparent;
  padding: 0;
  transition: outline 0.3s ease;
}

.card__icon-button:focus {
  outline: none;
}

.card__icon-button:focus-visible {
  border: 2px solid #000;
}

.like-icon {
  width: 38px;
  height: 35px;
}

.sparks {
  opacity: 0;
}

.card__like-button {
  background-color: var(--button-bg-color);
  padding: var(--button-padding);
  min-width: 130px;
}

.button__text {
  position: relative;
  z-index: 2;
  color: var(--button-hover-color);
  mix-blend-mode: difference;
  line-height: var(--button-line-height);
}

.image-fright {
  filter: contrast(1.15) sepia(90%);
}

.image-win {
  filter: saturate(115%);
}

.image-team {
  filter: brightness(80%);
}

.image-stupid {
  filter: hue-rotate(-20deg);
}

.image-exhausted {
  filter: invert(1.2) brightness(100%);
}

.image-infinity {
  filter: grayscale(1);
}

.button__save {
  --button-padding: 17px 20px;

  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--button-bg-color);
  border: var(--block-border);
  padding: var(--button-padding);
  gap: 8px;
}

.save-icon {
  width: 21px;
  height: 21px;
  position: relative;
  z-index: 2;
  fill: var(--button-hover-color);
  filter: invert(1);
  mix-blend-mode: difference;
}

.dialog {
  display: none;
  width: var(--dialog-size);
  max-width: 353px;
  border: var(--block-border);
  padding: 30px 40px;
  background-color: var(--block-bg-color);
}

.dialog[open] {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.dialog::backdrop {
  background-color: rgb(0 0 0 / 0.75);
} 

.dialog__content {
  display: flex;
  align-items: center;
  gap: 20px;
}

.dialog-save {
  width: 39px;
  height: 39px;
  flex-shrink: 0;
}

.dialog__text {
  font-family: var(--accent-font), sans-serif;
  font-size: var(--dialog-fomt-size);
  line-height: 150%;
  text-transform: uppercase;
}

.dialog__button {
  width: 100%;
  justify-content: center;
  background-color: var(--button-bg-color);
  padding: 12.5px 0 10.5px;
  text-align: center;
}

@media (width <= 375px) {
  .header {
    min-height: 327px;
  }

  .button__save {
    flex-direction: column;
  }

  .save-icon {
    width: 28px;
    height: 28px;
  }
}