/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-family: var(--main-font), sans-serif;
  font-variation-settings: var(--normal-font-weight);
  font-size: var(--main-font-size);
  background-image: var(--body-bg-gradient);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  color: var(--font-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: var(--body-padding);
}

.header {
  width: var(--block-width);
  min-height: 327px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: var(--header-gap);
  font-family: var(--accent-font), sans-serif;
  font-weight: var(--header-font-wweight);
  background-color: var(--block-bg-color);
  border: var(--block-border);
  margin: var(--header-margin);
}

.logo-title {
  font-size: var(--logo-font-size);
}

.subtitle {
  font-size: var(--subtitle-size);
}

.cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--card-gap);
}

.section {
  width: var(--block-width);
  font-family: var(--main-font), sans-serif;
  font-weight: var(--normal-font-weight);
  background-color: var(--block-bg-color);
  border: var(--block-border);
}

.section:last-of-type {
  margin-bottom: 50px;
}

.section__title {
  font-size: var(--main-font-size);
  padding: 4px 10px;
}

.section__image {
  display: block;
  width: 100%;
}

.section__info {
  display: flex;
  flex-direction: column;
  gap: 25px;
  padding: 25px;
}

.section__media {
  position: relative;
}

.label {
  position: absolute;
  top: 25px;
  right: 25px;
  font-family: var(--accent-font), sans-serif;
  font-size: var(--label-size);
}

.button {
  font-family: var(--accent-font), sans-serif;
  font-size: var(--button-size);
  font-weight: var(--header-font-wweight);
}

.card__buttons {
  display: flex;
  justify-content: flex-end;
  gap: 12px;
}

.card__icon-button {
  align-self: center;
  background-color: transparent;
  border: none;
}

.like-icon {
  width: 27px;
  height: 24px;
}

.card__like-button {
  background-color: transparent;
  padding: var(--button-padding);
  border: var(--button-border);
}

.button__text {
  line-height: var(--button-line-height);
}

.button__save {
  --button-padding: 17px 20px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--block-bg-color);
  border: var(--block-border);
  padding: var(--button-padding);
  gap: 8px;
}

.save-icon {
  width: 28px;
  height: 28px;
}

@media (width >= 700px) {
  .button__save {
    flex-direction: row;
  }

  .save-icon {
    width: 21px;
    height: 21px;
  }
}